################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.swp
.vs/
src/calc
src/calc.lex.o
src/calc.tab.c
src/calc.tab.h
src/calc.y.o
src/lex.yy.c

